
/*Estilos generales*/

body{
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    border-radius: 50px;
    border: 3px solid cornflowerblue;
    background-color:thistle;
}


/* Estilo para imagenes */
img{
    width: 30%;
}


/* Estilo a todo el contenedor de productos*/
.productContainer{ /* Elemento Padre */
    margin: 20px;
    padding: 20px;
    border: solid cornflowerblue;
    background-color:thistle;
    border-radius: 50px;
}

/* Estilo a un producto en individual */
#productOne{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color:cornflowerblue;
    border-radius: 50px;
    position: static; /*es el valor por default */
}

/* Estilo a un producto en individual */
#productTwo{/* Elemento Hijo */
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color:cornflowerblue;
    border-radius: 50px;
    /* position: relative; 
    left: 50px; */
    /* position: absolute;
    top: 200px; */
}

/* Estilo a un producto en individual */
#productThree{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color:cornflowerblue;
    border-radius: 50px;
}

/* Estilos de botón de inicio */
#initButton{
    position:fixed;
    /* position: absolute; */

}

#title{
    position: sticky;
    top: 1px;
}




/* 
Propiedad position

En CSS, la propiedad de position nos sirve para controlar la posición de un elemento en una página web, y toma como consideración su posición dentro del documento y como se interpreta en el flujo de trabajo (de arriba a abajo y de izquierda a derecha)
Con esta propiedad buscamos evitar el uso indicriminado del margin y del padding

Valores que trabajan con position
    -static
    -relative
    absolute
    -fixed
    -sticky

*/

/* 
Static

Es el valor por defecto de todos elemntos que ponemos en nuestro documento.
Respeta el flujonormal de la pagina, es decir, se posiciona en el lugar que le corresponde (conforme se lee el documento), nno se puede modificar con valores de margen en ese top, bottom, right y left.

Caso de uso: resumen de compras de un carrito de compras




Relative

Cuando usamos el valor relativa, vamos a posicionar un elemnto respecto al flujonormal de trabajo (arriba/abajo, izq/der). Se puede decir que vamos a colocar el elemento tomando una posición desde la esquina superior izquierda del contenedor.

Podemos usar left, right, top y bottom para modificar la posición, con la ventaja que modificar estos valores no "rompe" el flujo normal de trabajo. Es decir, el elemento se mueve y deja el espacio vacío.

Caso de uso: un botón para ver el detalle del producto, que podemos mover a nuestro antojo



Absolute

Cuando usamos el valor absoluto hacemos que nuestro elemento no este dentro del flujo normal del documento (quiere decir que SI SE MODIFICAN LOS ELEMNTOS QUE ESTÉN ALREDEDOR DEL ELEMNTO CON ABSOLUTE). Quiere decir que si modificamos, no dejamos huecos entre elementos.

Caso de uso: imagen en barra de navegación



Fixed

Hace que el elemnto salga del flujo normal del documento, toma como referencia al viewport (tamaño de la pantalla), es decir, no le hace caso mas que a la pantalla por salirse del flujo.

Independientemente de si hacemos scroll o no, o incluso el tamaño de pantalla, el boton s equeda fijo



Sticky

Cuando un elemento usa esta propiedad, primero se comporta como un relative (respeta el flujo del documento), cuando ocurre una situación especial (tamaño en pixeles), cambia su comportamiento y se comporta como un fixed.

Caso de uso: barras de navegación o menus que se quedan pegados cuando se escrollea la pagina



*/










/*Estilo a todos los contenedores*/

/* .contenedores{
    border: 1px solid black;
    margin: 20px;
    padding: 20px;
} */
